pipeline/MentoringPipelineOnlineIncremental.json
{
	"name": "MentoringPipelineOnlineIncremental",
	"properties": {
		"activities": [
			{
				"name": "CopyIncrementalFiles",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupNewWatermarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@activity('LookupNewWatermarkActivity').output.firstRow.LastUpdateDate",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "MentoringStorageOnlineContainer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MentoringDatalakeOnline",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupNewWatermarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LastUpdateDate, TableName FROM [dbo].[WatermarkHistory]\nWHERE TableName='online_container'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MentoringSQLdboWatermarkHistory",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StoredProcedureWriteWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyIncrementalFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark_history]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupNewWatermarkActivity').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MentoringSQLDatabaseLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-03T22:03:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}